setup
!SparkWordCountExample/project
SparkWordCountExample/project/*
!SparkWordCountExample/project/plugins.sbt
SparkWordCountExample/target
SparkWordCountExample/.classpath
SparkWordCountExample/.project
SparkWordCountExample/.settings
ubuntu-zesty-17.04-cloudimg-console.log

.vagrant
target
SparkWordCountExample/bin
SparkWordCountExample/.cache-main